<div class="row">
    <div class="col-md-4 d-flex align-items-center">
        <img [class]="movie.poster_path ? 'img-thumbnail' : 'img-fluid'"
            [src]="movie.poster_path ? ('https://image.tmdb.org/t/p/w500' + movie.poster_path) : '../../../assets/images/not-found.png'"
            [alt]="movie.title">
    </div>
    <div class="col-md-8">
        <dl class="movie">
            <dt>{{movie.title}}</dt>
            <dd>{{movie.title }}</dd>
            <dt>{{movie.release}}</dt>
            <dd>{{movie.release_date | date: 'longDate' }}</dd>
            <dt>{{movie.overview}}</dt>
        </dl>
        <div class="row" *ngIf="showOptions">
            <div class="col-md-5 float-left">
                <button class="btn btn-sm btn-info" [routerLink]="['movie-detail', movie.id]">
                    More Details (todo)
                </button>
            </div>
            <div class="col-md-5 float-right">
                <button class="btn btn-sm btn-warn" [routerLink]="['movie-detail', movie.id]">
                    Add to Bookmarks (todo)
                </button>
            </div>
        </div>
    </div>
</div>